<div id="tooplate_footer_wrapper">
	<div id="tooplate_footer">
    	<div class="col_w200 float_l">
        	
        </div>
        <div class="col_w200 float_l">
        	
        </div>
		<div class="col_w200 float_l">
        	
        </div>
        <div class="col_w200 float_r col_last">
        	
        </div>
        
        <div class="cleaner"></div>
    </div>
</div>

<div id="tooplate_copyright_wrapper">
	<div id="tooplate_copyright">
	
    	
		
    </div>
</div>